<form action="/addemp" method="POST" autocomplete="off">
    <table>
        <tr>
            <td>FullName</td>
            <td><input type="text" name="fullName"></td>
        </tr>

        <tr>
            <td>Email</td>
            <td><input type="text" name="email"></td>
        </tr>

        <tr>
            <td>age</td>
            <td><input type="text" name="age"></td>
        </tr>
        <tr>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>