<h1>user</h1>
<form action="add" method="POST">

    <table>
        <tr>
            <td>USER NAME:-</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>USER email:-</td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>USER age:-</td>
            <td><input type="text" name="age"></td>
        </tr>
        <tr>
            <td><input type="submit" value="submit"></td>
        </tr>
    </table>
</form>